:root {
  --dark-color: #163039;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  background-color: rgb(238,235,235);
}

ul {
  list-style:none;
}
.section-padding{
    padding:100px 0;
  }
  
  .carousel-item {
    height: 70vh;
    min-height: 300px;
  }
  .carousel-inner .carousel-item img{
    min-height:100%;
    object-fit:cover
    }
  
  .carousel-inner .carousel-caption {
    top:30%;
    z-index: 2;
  }
  .carousel-inner .carousel-caption h5 {
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:2px;
  }
  
  
  .carousel-caption p {
    width:60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }


  .carousel-inner .card {
    margin-top:100px;
  }
  .carousel-inner .card .card-body {
    position:relative;
  }
  .carousel-inner .card .rent-sale {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:-40px;
  }
  .carousel-inner .card .rent-sale  button {
    border:none;
    margin-left:2px;
    border-radius:3px;
    padding:3px 8px;
    color:white;
    position: relative;
  }
  
  .carousel-inner .card .rent-sale  button:hover::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    z-index: 999;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  ;
    z-index: 999;
  }

  .carousel-inner .card .rent-sale  button.sale:hover::after {
    border-color: var(--red-color) transparent transparent;

  }

  .carousel-inner .card .rent-sale  button.rent:hover::after{
    border-color: var(--green-color) transparent transparent ;
 
  }
  .carousel-inner .card .rent-sale  button.sale {
    background-color: var(--red-color);
 
  }
  .carousel-inner .card .rent-sale  button.rent{
    background-color: var(--green-color);
  
  }
  .main{
    width: 50%;
    margin: 50px auto;
    box-shadow: none;
    direction: rtl;
  }
  .form-control:focus,
  .form-control:hover {
  box-shadow: none;
  }
  /* Bootstrap 4 text input with search icon */
  
  .has-search .form-control {
    padding-right: 2.375rem;
    background-color: rgba(255,255,255,50%);
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    margin:5px;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    pointer-events: none;
    color: black;
  }
  .carousel-inner::before {
    content: '';
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
  }

  @media only screen and (max-width:767px)  {
    .carousel-caption {
      bottom: 125px;
    }
    .carousel-caption h5 {
      font-size: 25px;
    }
    .carousel-caption a {
      padding: 10px 15px;
    }
    .carousel-caption p {
     font-size: 16px;
    }
  }

  @media (max-width:383px) {
    .carousel-caption {
      bottom: 100px;
    }
    .carousel-caption h5 {
      font-size: 20px;
    }
    .carousel-caption p {
      font-size: 16px;
    }
    .carousel-caption a {
      padding: 8px 15px;
    }
    .carousel-caption .main-search {
      margin-top: 20px;
    }
  }

  /* @media (max-height:650px) {
    .carousel-caption {
      bottom: 50px;
    }
    .carousel-caption h5 {
      font-size: 18px;
    }
    .carousel-caption p {
      font-size: 14px;
    }
    .carousel-caption a {
      padding: 8px 15px;
    }
    .carousel-caption .main-search {
      margin-top: 10px;
    }

  } */
  
  .carousel-caption .card {
  background-color: #16303996;
  border:none;
  
}

@media (max-width:992px) {

  .carousel-caption .card {
    display: none;
  }
}

.carousel-caption .card select {
  background-color: rgba(255,255,255,60%);
  height:40px;
  width:90%;
  border-radius: 5px;
  outline:none;
  padding:0 20px;
  border: none;
}


.carousel-caption .card button.search-btn{
  background-color:var(--red-color) ;
  color: var(--yellow-color);
  outline: none;

  margin-top: 32px;
  height:40px;
  width:90%;
}

.carousel-caption .card button.search-btn:hover {
  color: var(--yellow-color);
  transition: 0.5s;
}



@media (min-width:991px) {
  .carousel-caption  .main-search {
    display: none;
  }
  
}

/* horizonal scroll */

.gallery-row{
    display:flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
  }
  
  .gallery-row-scroll{
    display:flex;
    display:-webkit-flex;
    overflow-x:scroll;
    -webkit-overflow-scrolling: touch;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
  
  }
  
  .gallery-row-scroll > *{
    margin: 0 0.1em;
    -webkit-flex:0 0 auto;
  }
  
  .gallery-row-scroll .btn-labeled  {
    background-color: #ddd;
    border-radius: 20px;

  }
  .gallery-row-scroll > :first-child{
    margin-left: 0;
  }
  
  .gallery-row-scroll > :last-child{
    margin-right: 10px;
  }  
  .gallery-row svg{
    width:10%;
    max-width:50px;
    min-width:20px;
    opacity:0.75;
    cursor:pointer;
  }
  .gallery-row svg:hover{
    background-color:#ddd;
    opacity:1;
  cursor:pointer;
  }
  

 
  
  
  
  .gallery-row.small img{
    height:150px;
    width:auto;
  }
  
@media (min-width:1400px) {
  #leftArrow,#rightArrow{
    display: none;
  }
}
/* end horizonal scroll */



/* Rent section */
.rent {
  background-color: rgb(238,235,235);
  direction: rtl;
  position:relative;

}
.rent .card-container {

  max-width:500px
}
.rent .btnc {
  height: 40px;
  width:90px;
  text-align:center;
  background-color:var(--section-color);
  color:var(--dark-color);
  outline:none;
  border:none;
  position: absolute;
  border-radius: 20px;
  right:1%;
  top:1%;
  padding:5px;
  font-weight: 500;
  cursor: pointer;
}



.rent img {
  width:100%;
  max-height: 350px;
  border-radius: 5px;
}
.rent .btnc h6 {
  font-weight: bold;

}
.rent .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-color);
}
@media (max-width: 767px) {
  .rent .change-background {
    display: none;
  }
}
.rent .fa-angle-left {
  left: 30px;
}
.rent .fa-angle-right {
  right: 30px;
}

.rent .bullets-btn {
  position: absolute;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.rent .bullets-btn .open-all {
  margin: 10px 0;
  background-color: var(--section-color);
  color:rgba(0, 0, 0, 0.5);
  padding:7px 15px;
  border:solid 0.5px rgba(0,0,0,.5) ;
  border-radius: 10px;
  font-weight: bold;
}
.rent .bullets-btn .open-all:hover {
  background-color: var(--green-color);
  color:rgba(255,255,255);
  transition:0.5s;


}
.rent .bullets {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.rent .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #888;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 10px  ;
  margin-top: 10px  ;
}
.rent .bullets li.active {
  background-color: var(--green-color);
}


/* scroll imags */

.scroll-imgs .gallery-row-scroll .btn-labeled{
  width:250px;
  background-color:rgba(255,255,255,.5);

}
.scroll-imgs {
  position:relative;
}
.scroll-imgs .gallery-row-scroll img {
  height:150px;
  width:100%;
  border-radius: 5px;
}

.scroll-imgs .gallery-row-scroll  p {
  margin-top:10px;
  font-size: 20px;
  font-weight: bold;
}
.scroll-imgs #rightimgArrow {
  position:absolute;
  top:40%;
  transform: translateY(-50%);
  right:-15px;
  transition: 0.5;

}
.scroll-imgs #leftimgArrow {
  position:absolute;
  top:40%;
  transform: translateY(-50%);
  left:-15px;
  transition: 0.5;

}
@media (max-width:767px) {
  .scroll-imgs #leftimgArrow {
    left:0;
  }

.scroll-imgs #rightimgArrow {
  right:0;
}
}
.scroll-imgs #rightimgArrow:hover,
.scroll-imgs #leftimgArrow:hover
 {
  font-size: 37px;
  width: 50px;
  background-color: #dddddda6;
  border-radius: 50%;
  color: #333;
  height: 50px;
}
.scroll-imgs #rightimgArrow:hover span,
.scroll-imgs #leftimgArrow:hover span {
  margin-left: 15px;

}

.scroll-imgs #rightimgArrow span svg,
.scroll-imgs #leftimgArrow span svg 
 {
  color:#333;
  background-color: transparent;

}

/* Start Footer */
.footer {
  background-color: var(--dark-color);
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--yellow-color);
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */
